.sendy{
    height: 50%;
    width: 50%;
}

.sendy {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  100% {
    bottom: 100px;
  }
}